* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 30%;
  max-width: 150px;
  height: auto;
  background-image: url("https://github.com/sirmarcius/memoryGame/blob/main/img/card-back.png?raw=true");
  background-size: cover;
  display: inline-block;
  text-align: center;
  font-size: 6vw;
  margin: 1.5vw;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipped {
  transform: rotateY(180deg);
  background-color: navajowhite;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 10vw;
  margin-top: 2vw;
}

p {
  text-align: center;
  font-size: 4vw;
}

body {
  background-color: darkgrey;
  font-size: 4vw;
}
